/* When the user wants to update the selected value, allow them to do that. */
.ipa-picker-parent {
  margin-top: 0px;
  margin-bottom: 0px;

  position: absolute;
  width: 64px;
  margin-left: 3px;
  list-style-type: none;
  padding-left: 0px;

  z-index: -10;
}
.ipa-picker {
  width: 64px;
  margin-left: 3px;
  list-style-type: none;
  padding-left: 0px;
  background: #DDD;

  z-index: -10;
}
.ipa-picker.ipa-picker-above {
  position: absolute;
  bottom: 16px;
}
.ipa-picker.ipa-picker-below {
  position: absolute;
  top: 28px;
}

.ipa-picker li {
  height: 64px;
  line-height: 64px;
  text-align: center;
  cursor: pointer;
}
