/* Make sure the ipa refiner is centered */
.ipa-refiner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  position: relative;
}

.ipa-refiner {
  width: 800px;
}


.ipa-refiner-input {
  max-width: 800px;
  margin-left: 10px;
  margin-right: 10px;
  height: 72px;
}
.ipa-refiner-input input {
  border: 2px solid #DDD;
  width: 100%;
  padding: 20px;
  font-size: 32px;

  letter-spacing: 72px;
  padding-left: calc(72px / 2);
}
